<p-accordion [value]="openPanels()" [multiple]="true">
  @for (ecr of eliteChestRuns(); track ecr.id) {
    <p-accordion-panel [value]="ecr.id">
      <p-accordion-header>
        <div class="accordion-header">
          <div>{{ ecr.name }}</div>
          <p-button
            icon="pi pi-copy"
            [outlined]="true"
            severity="secondary"
            size="small"
            label="+ {{ ecr.shortname }}"
            (click)="$event.stopPropagation(); copyToClipboard(ecr.shortname)"
            iconPos="right"
          />
          @if (!(completions()[ecr.id] | hasReset: ecr.refresh)) {
            <span class="remaining-time">
                {{ completions()[ecr.id] | timeRemaining: ecr.refresh }}
              </span>
          } @else {
            <p-button
              label="Terminer"
              icon="pi pi-check"
              iconPos="right"
              size="small"
              (click)="completeRun(ecr.id)"/>
          }
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <div class="p-4">
          toto
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
